@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 100%;
}

body {
  background: #737373;
  color: #112d4e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.nav-link {
  transition: 0.3s ease-in-out all;
}
